<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Профиль Пользователя</title>
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <div class="container-fluid">

        <span class="navbar-text text-white">
       <strong th:text="${user.getMail()}">Usermail</strong>
            <span>with roles: </span>
            <th:block th:each="role: ${roles}">
                <span th:text="${role.getRole()}"></span>
            </th:block>
      </span>

    </div>
    <div class="collapse navbar-collapse show" id="navbarDark">
        <ul class="navbar-nav me-auto mb-2 mb-xl-0">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>


<div class="row">
    <div class="col-1 pe-0 bg-white">
        <div class="d-flex flex-column align-items-stretch nav nav-pills" id="v-pills-tab" role="tablist"
             aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" href="#v-pills-user" role="tab"
               aria-controls="v-pills-home" aria-selected="true">User</a>
        </div>

    </div>

    <div class="col-10 ps-4 bg-light">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
                <div class="bg-light">
                    <div><h1>User information-page</h1></div>

                    <div class="card">
                        <div class="card-header fw-bold">
                            About user
                        </div>
                        <div class="card-body">
                            <h5 class="card-title border-bottom"></h5>

                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td th:text="${user.getId()}"></td>
                                    <td th:text="${user.getFirstName()}"></td>
                                    <td th:text="${user.getLastName()}"></td>
                                    <td th:text="${user.getAge()}"></td>
                                    <td th:text="${user.getMail()}"></td>
                                    <td>
                                        <th:block th:each="role: ${roles}">
                                            <span th:text="${role.getRole()}"></span>
                                        </th:block>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>
</html>